################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bingo/config/applicationhost.config
/.vs/Bingo/v17/.suo
/.vs/Bingo/project-colors.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
